<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="shortcut icon" href="src/imgs/favico.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d0be5e4daf.js" crossorigin="anonymous"></script>
    <title>Henrique Kerner | Portfólio</title>
</head>

<body>
    <!-- HEADER -->
    <header id="home">
        <div class="logo">
            <span>HENRIQUE KERNER</span>
        </div>
        <nav>
            <a href="#home">Home</a>
            <a href="#about">Sobre</a>
            <a href="#projects">Projetos</a>
        </nav>
    </header>

    <!-- SIDE ICONS -->
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/henrique-kerner-a509b71b1/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/kernerhenrique" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        <a href="https://wa.me/5527996950409" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
    </div>

    <!-- HERO -->
    <div class="hero">
        <h1>Olá, me chamo <span>HENRIQUE KERNER</span></h1>
        <p class="description">
            Sou um desenvolvedor Front End que está sempre em busca de desafios, melhorias <br />
            e sempre me atualizando sobre as tecnologias do mercado.
        </p>
        <a href="#projects" class="btn">PROJETOS</a>
        <div class="scroll-indicator"></div>
    </div>

    <!-- ABOUT -->
    <section id="about" class="about-section">
        <h2 class="section-title">SOBRE MIM</h2>
        <div class="underline"></div>
        <p class="section-subtitle">
            Aqui você vai encontrar um pouco mais sobre mim, o que eu faço e minhas skills em termos de
            programação e tecnologia.
        </p>

        <div class="about-content">
            <div class="about-left">
                <h3 class="about-heading">Me conheça mais!</h3>
                <p>
                    Me chamo Henrique, tenho 24 anos e sou formado em <strong>Ciência da Computação</strong> pela
                    Universidade Vila Velha. Atualmente, estou cursando pós-graduaçãao em <strong>Desenvolvimento Full
                        Stack</strong> pela PUC-RIO, com previsão de conclusão em novembro de 2025
                </p>
                <p>
                    Nos últimos <strong>três anos</strong>, venho me dedicando intensamente à área do Front-End, por
                    meio de cursos especializados, projetos práticos e estágios que contribuíram para o meu crescimento
                    profissional. Tenho buscado constantemente aprimorar meus conhecimentos em tecnologias modernas, com
                    foco em <strong>Angular</strong> (as vezes também em React), TypeScript e boas práticas em
                    desenvolvimento.
                </p>
                <p>
                    Meu objetivo é atuar de forma cada vez mais <strong>eficiente</strong> em equipes de
                    desenvolvimento,
                    contribuindo com soluções escaláveis, bem estruturadas e focadas na melhor experiência do usuário. A
                    seguir,
                    compartilho com mais detalhes, alguns dos meus últimos <strong>projetos</strong> Front-End
                    desenvolvidos.
                </p>
            </div>

            <div class="about-right">
                <h3 class="about-heading">Skills</h3>
                <div class="skills-grid">
                    <span class="skill">HTML</span>
                    <span class="skill">CSS</span>
                    <span class="skill">JavaScript</span>
                    <span class="skill">Angular</span>
                    <span class="skill">TypeScript</span>
                    <span class="skill">Wordpress</span>
                    <span class="skill">Bootstrap</span>
                    <span class="skill">GIT</span>
                    <span class="skill">SQL</span>
                    <span class="skill">NodeJs</span>
                    <span class="skill">UI/UX</span>
                    <span class="skill">Responsive Design</span>
                </div>
            </div>
        </div>
    </section>

    <!-- EXPERIENCE -->
    <section id="experience" class="experience">
        <h2 class="section-title">EXPERIÊNCIAS</h2>
        <div class="underline"></div>
        <p class="section-subtitle">
            Aqui você vai ver um pouco mais sobre cada uma das minhas experiências profissionais.
        </p>
        <div class="container-experience">
            <div class="container-places">
                <h2>Experiência</h2>
                <div class="places">
                    <div class="link active" id="marketing365">
                        <p class="active-place">Marketing 365</p>
                    </div>
                    <div class="link" id="leadmasters">
                        <p>Lead Masters</p>
                    </div>
                    <div class="link" id="superticket">
                        <p>Superticket</p>
                    </div>
                    <div class="link" id="arcelormittal">
                        <p>ArcelorMittal</p>
                    </div>
                    <div class="link" id="alura">
                        <p>(Certificados)</p>
                    </div>
                </div>
            </div>
            <div class="experience-description">
                <div class="title-experiences">
                    <h2 id="titulo1"></h2>
                    <p id="data1"></p>
                </div>
                <h4 id="titulo2"></h4>
                <p id="descricao"></p>
            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section id="projects" class="project-section">
        <h2 class="section-title">PROJETOS</h2>
        <div class="underline"></div>
        <p class="section-subtitle">
            Aqui você vai encontrar alguns dos meus projetos pessoais que eu criei enquanto estudava um pouco mais
        </p>

        <div class="projects-container">
            <div class="project-wrapper">
                <div class="project-image">
                    <img src="src/imgs/cardapio.png" alt="Cardápio Online" />
                </div>
                <div class="project-content">
                    <h2 class="project-title">Cardápio Online</h2>
                    <p class="project-description">
                        Projeto Web de um cardápio online desenvolvido
                        com HTML, CSS, JS e Bootstrap. (ainda não responsivo)
                    </p>
                    <div class="project-buttons">
                        <a href="https://cardapio-online-teal-eight.vercel.app/" target="_blank" rel="noopener noreferrer" class="case-study-button">PROJETO</a>
                        <a href="https://github.com/kernerhenrique/cardapio-online" target="_blank" rel="noopener noreferrer" class="case-study-button">GITHUB</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image">
                    <img src="src/imgs/catalogo.png" alt="Catálogo de Filmes" />
                </div>
                <div class="project-content">
                    <h2 class="project-title">Catálogo de Filmes</h2>
                    <p class="project-description">
                        Projeto Web de um catálogo de filmes feitos com Angular,
                        Angular Material e usando a API do TMDB.
                    </p>
                    <div class="project-buttons">
                        <a href="https://catalogo-filmes-black.vercel.app/" target="_blank" rel="noopener noreferrer" class="case-study-button">PROJETO</a>
                        <a href="https://github.com/kernerhenrique/catalogo-filmes" target="_blank" rel="noopener noreferrer" class="case-study-button">GITHUB</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image">
                    <img src="src/imgs/infofla.png" alt="Info Fla" />
                </div>
                <div class="project-content">
                    <h2 class="project-title">Info Fla</h2>
                    <p class="project-description">
                        Projeto Web desenvolvido em Angular com intuito apenas
                        de mostrar informações sobre o Flamengo. Durante o projeto
                        foram usados recursos Angular como: Componentização, *ngFor,
                        *ngIf, Event Binding, Routes, Pipes, etc. (ainda não responsivo)
                    </p>
                    <div class="project-buttons">
                        <a href="https://info-fla.vercel.app/" target="_blank" rel="noopener noreferrer" class="case-study-button">PROJETO</a>
                        <a href="https://github.com/kernerhenrique/InfoFla" target="_blank" rel="noopener noreferrer" class="case-study-button">GITHUB</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project-image">
                    <img src="src/imgs/codechella.png" alt="Codechella" />
                </div>
                <div class="project-content">
                    <h2 class="project-title">CodeChella</h2>
                    <p class="project-description">
                        Projeto Angular desenvolvido basedo em um
                        um dseign criado pela Alura. (Responsivo).
                    </p>
                    <div class="project-buttons">
                        <a href="https://codechella-2024.vercel.app" target="_blank" rel="noopener noreferrer" class="case-study-button">PROJETO</a>
                        <a href="https://github.com/kernerhenrique/CodeChella" target="_blank" rel="noopener noreferrer" class="case-study-button">GITHUB</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <h3>HENRIQUE KERNER</h3>
                <p>
                    Um desenvolvedor Web focado em Front-End que constrói sites<br />
                    que levam ao sucesso do produto.
                </p>
            </div>
            <div class="footer-right">
                <h3>SOCIAL</h3>
                <div class="footer-icons">
                    <a href="https://www.linkedin.com/in/henrique-kerner-a509b71b1/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/kernerhenrique" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                    <a href="https://wa.me/5527996950409" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer-bottom">
            <p>Developed by <a href="https://www.linkedin.com/in/henrique-kerner-a509b71b1/" target="_blank" rel="noopener noreferrer">Henrique Kerner</a></p>
        </div>
    </footer>

    <script src="src/js/app.js"></script>

</body>

</html>
